:root {
  --bg: #1e2326;
  --bg1: #2e383c;
  --fg: #d3c6aa;
}

body {
  position: absolute;
  width: 100%;
  height: 100vh;

  top: 0;
  left: 0;

  margin: 0;
  padding: 0;

  background: var(--bg);
  color: var(--fg);
}

.input-container {
  display: flex;
  justify-content: center;
}

#input {
  width: 40%;
  padding: 5px;

  background-color: var(--bg1);
  border: 1px solid var(--fg);
  color: var(--fg);
}

#gerar-botao {
  padding: 5px;

  background-color: var(--bg1);
  border: 1px solid var(--fg);
  border-left: none;
  color: var(--fg);
}

h1 {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;

  width: 100%;
}

#output {
  margin-top: 5%;
  text-align: center;

  }

footer > p {
  text-align: center;
}
